name: Build APK (Kivy)

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout project
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y zip unzip openjdk-17-jdk \
        build-essential ccache libffi-dev libssl-dev \
        zlib1g-dev libncurses5 libsqlite3-dev

    - name: Install Python dependencies
      run: |
        pip install --upgrade pip
        pip install buildozer cython kivy

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Trimoney-APK
        path: bin/*.apk
